body {
    padding-top: 70px;
}

input[type="number"] {
    width: 50px !important;
}

.nav > li {
    display: inline-block !important;
}

.navbar-center {
    position: absolute;
    left: 25%;
    width: 50%;
    right: 25%;
    text-align: center;
    padding: 15px 0;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
}

.navbar-date {
    .glyphicon {
        font-size: 12px;
    }

    .date {
        color: #000;
        font-size: 14px;
        font-weight: 500;
    }
}

.ratings-table {
    text-align: center;

    th {
        text-align: center;
    }

    .subheader {
        background-color: #eee;
    }

    .current {
        background-color: lighten(#f39c12, 20);
    }

    .vs-l {
        background-color: lighten(#3498db, 20);
    }

    .vs-r {
        background-color: lighten(#2ecc71, 20);
    }

    .potential {
        background-color: lighten(#f1c40f, 20);
    }

    .other {
        background-color: lighten(#c0392b, 20);
    }
}

#team-batting-ratings,
#team-pitching-ratings,
#improved-batting-ratings,
#improved-pitching-ratings,
#dropped-batting-ratings,
#dropped-pitching-ratings,
#waivers-batting-ratings,
#waivers-pitching-ratings {
    margin-bottom: 50px;

    .subheader td {
        font-weight: bold;
        vertical-align: middle;
    }

    td {
        font-size: 11px;

        &.player-name, &.ml-team-name, &.player-age {
            font-size: 13px;
            text-align: left;
            vertical-align: middle;
        }
    }
}

#team-batting-ratings,
#team-pitching-ratings,
#improved-batting-ratings,
#improved-pitching-ratings {
    tr:nth-child(odd), table {
        border-bottom: 2px solid black;
    }

    
    .increase {
        color: blue;
        text-decoration: underline;
    }

    .decrease {
        color: red;
        text-decoration: underline;
    }
}