body {
    background-color: #eee;
    padding-top: 70px;
}

table {
    a {
        color: #333;
    }
}

nav {
    .filter {
        margin-right: 10px;
    }
}

.nav > li {
    display: inline-block !important;
}

.navbar-center {
    color: #eee;
    position: absolute;
    left: 30%;
    width: 40%;
    right: 30%;
    text-align: center;
    padding: 15px 0;
    font-size: 20px;
    line-height: 20px;

    .title-link {
        color: #fff;
    }
}

.navbar-date {
    .glyphicon {
        font-size: 12px;
    }

    .date {
        color: #eee;
        font-size: 14px;
    }
}

.container {
    position: relative;
}

.filter {
    &.active {
        color: #fff;
    }
}

.filter-form {
    border: 1px solid black;
    margin: 0 auto;
    padding: 10px;
    width: 500px;

    h3 {
        margin: 0;
    }

    .form-group {
        margin-bottom: 5px;
    }

    input {
        border: none;
        box-shadow: none;
        display: inline-block;
        outline: none;
        width: 100px;

        &:focus {
            border: none;
            box-shadow: none;
            outline: none;            
        }
    }
}

.ratings-table {
    text-align: center;

    th {
        text-align: center;
    }

    .subheader {
        background-color: #ddd;

        .date {
            width: 90px;
        }

        &.search-subheader {
            th {
                text-align: left;

                &.sorted {
                    color: blue;

                    &.reverse {
                        color: red;
                    }
                }
            }
        }
    }

    .current, .catching, .catching, .stealing {
        background-color: lighten(#f39c12, 20);
    }

    .vs-l, .infield, .baserunning {
        background-color: lighten(#3498db, 20);
    }

    .vs-r, .outfield, .bunting {
        background-color: lighten(#2ecc71, 20);
    }

    .potential {
        background-color: lighten(#f1c40f, 20);
    }

    .other {
        background-color: lighten(#c0392b, 20);
    }
}

#team-batting-ratings,
#team-pitching-ratings,
#improved-batting-ratings,
#improved-pitching-ratings,
#dropped-batting-ratings,
#dropped-pitching-ratings,
#waivers-batting-ratings,
#waivers-pitching-ratings,
#upcoming-fa-batting-ratings,
#upcoming-fa-pitching-ratings,
#search-table,
#stats-table {
    margin-bottom: 50px;

    .subheader td {
        font-weight: bold;
        vertical-align: middle;
    }

    td {
        font-size: 11px;

        &.player-name, &.ml-team-name, &.player-age {
            font-size: 13px;
            text-align: left;
            vertical-align: middle;
        }
    }
}

#stats-table {
    td {
        text-align: left;
    }

    th.player-name {
        width: 300px;
    }

    th {
        cursor: pointer;
        &:hover:not(.sorted) {
            color: #888;
        }
    }
}

#team-batting-ratings,
#team-pitching-ratings,
#improved-batting-ratings,
#improved-pitching-ratings {
    tr:nth-child(odd), table {
        border-bottom: 2px solid black;
    }

    
    .increase {
        color: blue;
        text-decoration: underline;
    }

    .decrease {
        color: red;
        text-decoration: underline;
    }
}

.search-container, .stats-container {
    .control-header {
        width: 200px;
    }

    .filter-container {
        margin-bottom: 25px;

        .val {
            height: 34px;
        }
    }

    .table-controls {
        margin-bottom: 25px;

        .submit-btn {
            margin-left: 25px;
        }

        .glyphicon {
            font-size: 10px;
        }

        .limit-container {
            margin-right: 25px;

            .btn-group {
                margin: 0 5px;
            }
        }

        .total {
            margin-right: 5px;
        }
    }

    #min {
        height: 34px;
        padding: 5px;
        margin-left: 5px;
        width: 60px;
    }

    .link-container {
        margin-bottom: 20px;
    }

    .key-container {
        margin-bottom: 10px;

        label {
            display: inline-block;
            margin-right: 15px;

            &.retired {
                font-weight: normal;
            }
        }
    }

    .hall-of-fame {
        color: #c68e17;
        font-weight: bold;
    }

    .eligible {
        color: #a0a0a0;
        font-weight: bold;
    }

    .active {
        font-weight: bold;
    }
}