body {
  background-color: #eee;
  padding-top: 70px; }

a {
  color: #333; }

nav .filter {
  margin-right: 10px; }

.nav > li {
  display: inline-block !important; }

.navbar-center {
  color: #eee;
  position: absolute;
  left: 25%;
  width: 50%;
  right: 25%;
  text-align: center;
  padding: 15px 0;
  font-size: 20px;
  line-height: 20px; }
  .navbar-center .title-link {
    color: #fff; }

.navbar-date .glyphicon {
  font-size: 12px; }
.navbar-date .date {
  color: #eee;
  font-size: 14px; }

.container {
  position: relative; }

.filter.active {
  color: #fff; }

.filter-form {
  border: 1px solid black;
  margin: 0 auto;
  padding: 10px;
  width: 500px; }
  .filter-form h3 {
    margin: 0; }
  .filter-form .form-group {
    margin-bottom: 5px; }
  .filter-form input {
    border: none;
    box-shadow: none;
    display: inline-block;
    outline: none;
    width: 100px; }
    .filter-form input:focus {
      border: none;
      box-shadow: none;
      outline: none; }

.ratings-table {
  text-align: center; }
  .ratings-table th {
    text-align: center; }
  .ratings-table .subheader {
    background-color: #ddd; }
    .ratings-table .subheader .date {
      width: 90px; }
  .ratings-table .current, .ratings-table .catching, .ratings-table .catching, .ratings-table .stealing {
    background-color: #f8c573; }
  .ratings-table .vs-l, .ratings-table .infield, .ratings-table .baserunning {
    background-color: #8bc4ea; }
  .ratings-table .vs-r, .ratings-table .outfield, .ratings-table .bunting {
    background-color: #7ee2a8; }
  .ratings-table .potential {
    background-color: #f7dc6f; }
  .ratings-table .other {
    background-color: #df7c72; }

#team-batting-ratings,
#team-pitching-ratings,
#improved-batting-ratings,
#improved-pitching-ratings,
#dropped-batting-ratings,
#dropped-pitching-ratings,
#waivers-batting-ratings,
#waivers-pitching-ratings,
#search-table {
  margin-bottom: 50px; }
  #team-batting-ratings .subheader td,
  #team-pitching-ratings .subheader td,
  #improved-batting-ratings .subheader td,
  #improved-pitching-ratings .subheader td,
  #dropped-batting-ratings .subheader td,
  #dropped-pitching-ratings .subheader td,
  #waivers-batting-ratings .subheader td,
  #waivers-pitching-ratings .subheader td,
  #search-table .subheader td {
    font-weight: bold;
    vertical-align: middle; }
  #team-batting-ratings td,
  #team-pitching-ratings td,
  #improved-batting-ratings td,
  #improved-pitching-ratings td,
  #dropped-batting-ratings td,
  #dropped-pitching-ratings td,
  #waivers-batting-ratings td,
  #waivers-pitching-ratings td,
  #search-table td {
    font-size: 11px; }
    #team-batting-ratings td.player-name, #team-batting-ratings td.ml-team-name, #team-batting-ratings td.player-age,
    #team-pitching-ratings td.player-name,
    #team-pitching-ratings td.ml-team-name,
    #team-pitching-ratings td.player-age,
    #improved-batting-ratings td.player-name,
    #improved-batting-ratings td.ml-team-name,
    #improved-batting-ratings td.player-age,
    #improved-pitching-ratings td.player-name,
    #improved-pitching-ratings td.ml-team-name,
    #improved-pitching-ratings td.player-age,
    #dropped-batting-ratings td.player-name,
    #dropped-batting-ratings td.ml-team-name,
    #dropped-batting-ratings td.player-age,
    #dropped-pitching-ratings td.player-name,
    #dropped-pitching-ratings td.ml-team-name,
    #dropped-pitching-ratings td.player-age,
    #waivers-batting-ratings td.player-name,
    #waivers-batting-ratings td.ml-team-name,
    #waivers-batting-ratings td.player-age,
    #waivers-pitching-ratings td.player-name,
    #waivers-pitching-ratings td.ml-team-name,
    #waivers-pitching-ratings td.player-age,
    #search-table td.player-name,
    #search-table td.ml-team-name,
    #search-table td.player-age {
      font-size: 13px;
      text-align: left;
      vertical-align: middle; }

#team-batting-ratings tr:nth-child(odd), #team-batting-ratings table,
#team-pitching-ratings tr:nth-child(odd),
#team-pitching-ratings table,
#improved-batting-ratings tr:nth-child(odd),
#improved-batting-ratings table,
#improved-pitching-ratings tr:nth-child(odd),
#improved-pitching-ratings table {
  border-bottom: 2px solid black; }
#team-batting-ratings .increase,
#team-pitching-ratings .increase,
#improved-batting-ratings .increase,
#improved-pitching-ratings .increase {
  color: blue;
  text-decoration: underline; }
#team-batting-ratings .decrease,
#team-pitching-ratings .decrease,
#improved-batting-ratings .decrease,
#improved-pitching-ratings .decrease {
  color: red;
  text-decoration: underline; }
