body {
  background-color: #eee;
  padding-top: 70px; }

table a {
  color: #333; }

nav .filter {
  margin-right: 10px; }

.nav > li {
  display: inline-block !important; }

.navbar-center {
  color: #eee;
  position: absolute;
  left: 30%;
  width: 40%;
  right: 30%;
  text-align: center;
  padding: 15px 0;
  font-size: 20px;
  line-height: 20px; }
  .navbar-center .title-link {
    color: #fff; }

.navbar-date .glyphicon {
  font-size: 12px; }
.navbar-date .date {
  color: #eee;
  font-size: 14px; }

.container {
  position: relative; }

.filter.active {
  color: #fff; }

.filter-form {
  border: 1px solid black;
  margin: 0 auto;
  padding: 10px;
  width: 500px; }
  .filter-form h3 {
    margin: 0; }
  .filter-form .form-group {
    margin-bottom: 5px; }
  .filter-form input {
    border: none;
    box-shadow: none;
    display: inline-block;
    outline: none;
    width: 100px; }
    .filter-form input:focus {
      border: none;
      box-shadow: none;
      outline: none; }

.ratings-table {
  text-align: center; }
  .ratings-table th {
    text-align: center; }
  .ratings-table .subheader {
    background-color: #ddd; }
    .ratings-table .subheader .date {
      width: 90px; }
    .ratings-table .subheader.search-subheader th {
      text-align: left; }
      .ratings-table .subheader.search-subheader th.sorted {
        color: blue; }
        .ratings-table .subheader.search-subheader th.sorted.reverse {
          color: red; }
  .ratings-table .current, .ratings-table .catching, .ratings-table .catching, .ratings-table .stealing {
    background-color: #f8c573; }
  .ratings-table .vs-l, .ratings-table .infield, .ratings-table .baserunning {
    background-color: #8bc4ea; }
  .ratings-table .vs-r, .ratings-table .outfield, .ratings-table .bunting {
    background-color: #7ee2a8; }
  .ratings-table .potential {
    background-color: #f7dc6f; }
  .ratings-table .other {
    background-color: #df7c72; }

#team-batting-ratings,
#team-pitching-ratings,
#improved-batting-ratings,
#improved-pitching-ratings,
#dropped-batting-ratings,
#dropped-pitching-ratings,
#waivers-batting-ratings,
#waivers-pitching-ratings,
#upcoming-fa-batting-ratings,
#upcoming-fa-pitching-ratings,
#search-table,
#stats-table {
  margin-bottom: 50px; }
  #team-batting-ratings .subheader td,
  #team-pitching-ratings .subheader td,
  #improved-batting-ratings .subheader td,
  #improved-pitching-ratings .subheader td,
  #dropped-batting-ratings .subheader td,
  #dropped-pitching-ratings .subheader td,
  #waivers-batting-ratings .subheader td,
  #waivers-pitching-ratings .subheader td,
  #upcoming-fa-batting-ratings .subheader td,
  #upcoming-fa-pitching-ratings .subheader td,
  #search-table .subheader td,
  #stats-table .subheader td {
    font-weight: bold;
    vertical-align: middle; }
  #team-batting-ratings td,
  #team-pitching-ratings td,
  #improved-batting-ratings td,
  #improved-pitching-ratings td,
  #dropped-batting-ratings td,
  #dropped-pitching-ratings td,
  #waivers-batting-ratings td,
  #waivers-pitching-ratings td,
  #upcoming-fa-batting-ratings td,
  #upcoming-fa-pitching-ratings td,
  #search-table td,
  #stats-table td {
    font-size: 11px; }
    #team-batting-ratings td.player-name, #team-batting-ratings td.ml-team-name, #team-batting-ratings td.player-age,
    #team-pitching-ratings td.player-name,
    #team-pitching-ratings td.ml-team-name,
    #team-pitching-ratings td.player-age,
    #improved-batting-ratings td.player-name,
    #improved-batting-ratings td.ml-team-name,
    #improved-batting-ratings td.player-age,
    #improved-pitching-ratings td.player-name,
    #improved-pitching-ratings td.ml-team-name,
    #improved-pitching-ratings td.player-age,
    #dropped-batting-ratings td.player-name,
    #dropped-batting-ratings td.ml-team-name,
    #dropped-batting-ratings td.player-age,
    #dropped-pitching-ratings td.player-name,
    #dropped-pitching-ratings td.ml-team-name,
    #dropped-pitching-ratings td.player-age,
    #waivers-batting-ratings td.player-name,
    #waivers-batting-ratings td.ml-team-name,
    #waivers-batting-ratings td.player-age,
    #waivers-pitching-ratings td.player-name,
    #waivers-pitching-ratings td.ml-team-name,
    #waivers-pitching-ratings td.player-age,
    #upcoming-fa-batting-ratings td.player-name,
    #upcoming-fa-batting-ratings td.ml-team-name,
    #upcoming-fa-batting-ratings td.player-age,
    #upcoming-fa-pitching-ratings td.player-name,
    #upcoming-fa-pitching-ratings td.ml-team-name,
    #upcoming-fa-pitching-ratings td.player-age,
    #search-table td.player-name,
    #search-table td.ml-team-name,
    #search-table td.player-age,
    #stats-table td.player-name,
    #stats-table td.ml-team-name,
    #stats-table td.player-age {
      font-size: 13px;
      text-align: left;
      vertical-align: middle; }
    #team-batting-ratings td.two-row,
    #team-pitching-ratings td.two-row,
    #improved-batting-ratings td.two-row,
    #improved-pitching-ratings td.two-row,
    #dropped-batting-ratings td.two-row,
    #dropped-pitching-ratings td.two-row,
    #waivers-batting-ratings td.two-row,
    #waivers-pitching-ratings td.two-row,
    #upcoming-fa-batting-ratings td.two-row,
    #upcoming-fa-pitching-ratings td.two-row,
    #search-table td.two-row,
    #stats-table td.two-row {
      vertical-align: middle; }

#stats-table td {
  text-align: left; }
#stats-table th.player-name {
  width: 300px; }
#stats-table th {
  cursor: pointer; }
  #stats-table th:hover:not(.sorted) {
    color: #888; }

#team-batting-ratings tr:nth-child(odd), #team-batting-ratings table,
#team-pitching-ratings tr:nth-child(odd),
#team-pitching-ratings table,
#improved-batting-ratings tr:nth-child(odd),
#improved-batting-ratings table,
#improved-pitching-ratings tr:nth-child(odd),
#improved-pitching-ratings table {
  border-bottom: 2px solid black; }
#team-batting-ratings .increase,
#team-pitching-ratings .increase,
#improved-batting-ratings .increase,
#improved-pitching-ratings .increase {
  color: blue;
  text-decoration: underline; }
#team-batting-ratings .decrease,
#team-pitching-ratings .decrease,
#improved-batting-ratings .decrease,
#improved-pitching-ratings .decrease {
  color: red;
  text-decoration: underline; }

.search-container .control-header, .stats-container .control-header {
  width: 200px; }
.search-container .filter-container, .stats-container .filter-container {
  margin-bottom: 25px; }
  .search-container .filter-container .val, .stats-container .filter-container .val {
    height: 34px; }
.search-container .table-controls, .stats-container .table-controls {
  margin-bottom: 25px; }
  .search-container .table-controls .submit-btn, .stats-container .table-controls .submit-btn {
    margin-left: 25px; }
  .search-container .table-controls .glyphicon, .stats-container .table-controls .glyphicon {
    font-size: 10px; }
  .search-container .table-controls .limit-container, .stats-container .table-controls .limit-container {
    margin-right: 25px; }
    .search-container .table-controls .limit-container .btn-group, .stats-container .table-controls .limit-container .btn-group {
      margin: 0 5px; }
  .search-container .table-controls .total, .stats-container .table-controls .total {
    margin-right: 5px; }
.search-container #min, .stats-container #min {
  height: 34px;
  padding: 5px;
  margin-left: 5px;
  width: 60px; }
.search-container .link-container, .stats-container .link-container {
  margin-bottom: 20px; }
.search-container .key-container, .stats-container .key-container {
  margin-bottom: 10px; }
  .search-container .key-container label, .stats-container .key-container label {
    display: inline-block;
    margin-right: 15px; }
    .search-container .key-container label.retired, .stats-container .key-container label.retired {
      font-weight: normal; }
.search-container .hall-of-fame, .stats-container .hall-of-fame {
  color: #c68e17;
  font-weight: bold; }
.search-container .eligible, .stats-container .eligible {
  color: #a0a0a0;
  font-weight: bold; }
.search-container .active, .stats-container .active {
  font-weight: bold; }

.star {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; }

.starred {
  color: yellow;
  -webkit-text-fill-color: yellow; }
