<table class="table ratings-table">
  <thead>
    <th></th>
    <th></th>
    <th colspan="3">CURRENT</th>
    <th colspan="3">POTENTIAL</th>
    <th colspan="4">OTHER</th>
  </thead>
  <tbody>
    <tr class="subheader">
      <td class="player-name">Player</td>
      <td class="ml-team-name">ML Team</td>
      <td>STU</td>
      <td>MOV</td>
      <td>CON</td>
      <td>STU</td>
      <td>MOV</td>
      <td>CON</td>
      <td>STA</td>
      <td>VEL</td>
      <td>HOL</td>
      <td>GB%</td>
    </tr>
    {% for id in ids %}
      <tr>
        <td rowspan="2" class="player-name">
          <a href="/player/{{id}}">
            {{ratings[id].position}} {{ratings[id].name}} ({{ratings[id].level}})</td>
          </a>
        </td>
        <td rowspan="2" class="ml-team-name">{{ratings[id].ml_team}}</td>
        <td class="current">{{prev_ratings[id].stuff}}</td>
        <td class="current">{{prev_ratings[id].movement}}</td>
        <td class="current">{{prev_ratings[id].control}}</td>
        <td class="potential">{{prev_ratings[id].pot_stuff}}</td>
        <td class="potential">{{prev_ratings[id].pot_movement}}</td>
        <td class="potential">{{prev_ratings[id].pot_control}}</td>
        <td class="other">{{prev_ratings[id].stamina}}</td>
        <td class="other">{{prev_ratings[id].velocity}}</td>
        <td class="other">{{prev_ratings[id].hold}}</td>
        <td class="other">{{prev_ratings[id].groundball}}</td>
      </tr>
      <tr>
        <td class="{{diff_classes[id].stuff}} current">{{ratings[id].stuff}}</td>
        <td class="{{diff_classes[id].movement}} current">{{ratings[id].movement}}</td>
        <td class="{{diff_classes[id].control}} current">{{ratings[id].control}}</td>
        <td class="{{diff_classes[id].pot_stuff}} potential">{{ratings[id].pot_stuff}}</td>
        <td class="{{diff_classes[id].pot_movement}} potential">{{ratings[id].pot_movement}}</td>
        <td class="{{diff_classes[id].pot_control}} potential">{{ratings[id].pot_control}}</td>
        <td class="{{diff_classes[id].stamina}} other">{{ratings[id].stamina}}</td>
        <td class="{{diff_classes[id].velocity}} other">{{ratings[id].velocity}}</td>
        <td class="{{diff_classes[id].hold}} other">{{ratings[id].hold}}</td>
        <td class="{{diff_classes[id].groundball}} other">{{ratings[id].groundball}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>