<table class="table ratings-table">
  <thead>
    <th colspan="3"></th>
    <th colspan="5">CURRENT</th>
    <th colspan="5">POTENTIAL</th>
  </thead>
  <tbody>
    <tr class="subheader">
      <td class="player-name">Player</td>
      <td class="player-age">Age</td>
      <td class="ml-team-name">ML Team</td>
      <td>CON</td>
      <td>GAP</td>
      <td>POW</td>
      <td>EYE</td>
      <td>&nbsp;&nbsp;K&nbsp;&nbsp;</td>
      <td>CON</td>
      <td>GAP</td>
      <td>POW</td>
      <td>EYE</td>
      <td>&nbsp;&nbsp;K&nbsp;&nbsp;</td>
    </tr>
    {% for id in ids %}
      <tr>
        <td rowspan="2" class="player-name">
          <a href="/player/{{id}}">
            {{ratings[id].position}} {{ratings[id].name}} ({{ratings[id].level}})
          </a>
        </td>
        <td rowspan="2" class="player-age">{{ages[id]}}</td>
        <td rowspan="2" class="ml-team-name">{{ratings[id].ml_team}}</td>
        <td class="current">{{prev_ratings[id].contact}}</td>
        <td class="current">{{prev_ratings[id].gap}}</td>
        <td class="current">{{prev_ratings[id].power}}</td>
        <td class="current">{{prev_ratings[id].eye}}</td>
        <td class="current">{{prev_ratings[id].avoid_k}}</td>
        <td class="potential">{{prev_ratings[id].pot_contact}}</td>
        <td class="potential">{{prev_ratings[id].pot_gap}}</td>
        <td class="potential">{{prev_ratings[id].pot_power}}</td>
        <td class="potential">{{prev_ratings[id].pot_eye}}</td>
        <td class="potential">{{prev_ratings[id].pot_avoid_k}}</td>
      </tr>
      <tr>
        <td class="{{diff_classes[id].contact}} current">{{ratings[id].contact}}</td>
        <td class="{{diff_classes[id].gap}} current">{{ratings[id].gap}}</td>
        <td class="{{diff_classes[id].power}} current">{{ratings[id].power}}</td>
        <td class="{{diff_classes[id].eye}} current">{{ratings[id].eye}}</td>
        <td class="{{diff_classes[id].avoid_k}} current">{{ratings[id].avoid_k}}</td>
        <td class="{{diff_classes[id].pot_contact}} potential">{{ratings[id].pot_contact}}</td>
        <td class="{{diff_classes[id].pot_gap}} potential">{{ratings[id].pot_gap}}</td>
        <td class="{{diff_classes[id].pot_power}} potential">{{ratings[id].pot_power}}</td>
        <td class="{{diff_classes[id].pot_eye}} potential">{{ratings[id].pot_eye}}</td>
        <td class="{{diff_classes[id].pot_avoid_k}} potential">{{ratings[id].pot_avoid_k}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
