<table class="table ratings-table table-condensed">
  <thead>
    <th></th>
    <th colspan="3">CURRENT</th>
    <th colspan="3">CURRENT vs L</th>
    <th colspan="3">CURRENT vs R</th>
    <th colspan="3">POTENTIAL</th>
    <th colspan="4">OTHER</th>
  </thead>
  <tbody>
    <tr class="subheader">
      <td class="date">Date</td>
      <td>STU</td>
      <td>MOV</td>
      <td>CON</td>
      <td>STU</td>
      <td>MOV</td>
      <td>CON</td>
      <td>STU</td>
      <td>MOV</td>
      <td>CON</td>
      <td>STU</td>
      <td>MOV</td>
      <td>CON</td>
      <td>STA</td>
      <td>VEL</td>
      <td>HOL</td>
      <td>GB%</td>
    </tr>
    {% for row in rows %}
      <tr>
        <td>{{row.date}}</td>
        <td class="current">{{row.stuff}}</td>
        <td class="current">{{row.movement}}</td>
        <td class="current">{{row.control}}</td>
        <td class="vs-l">{{row.stuff_l}}</td>
        <td class="vs-l">{{row.movement_l}}</td>
        <td class="vs-l">{{row.control_l}}</td>
        <td class="vs-r">{{row.stuff_r}}</td>
        <td class="vs-r">{{row.movement_r}}</td>
        <td class="vs-r">{{row.control_r}}</td>
        <td class="potential">{{row.pot_stuff}}</td>
        <td class="potential">{{row.pot_movement}}</td>
        <td class="potential">{{row.pot_control}}</td>
        <td class="other">{{row.stamina}}</td>
        <td class="other">{{row.velocity}}</td>
        <td class="other">{{row.hold}}</td>
        <td class="other">{{row.groundball}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>