<table class="table ratings-table table-condensed">
  <tbody>
    <tr class="subheader">
      <td class="date">Date</td>
      <td>C</td>
      <td>1B</td>
      <td>2B</td>
      <td>3B</td>
      <td>SS</td>
      <td>LF</td>
      <td>CF</td>
      <td>RF</td>
    </tr>
    {% for row in rows %}
      <tr>
        <td>{{row.date}}</td>
        <td class="catching">{% if row.c %}{{row.c}}{% endif %}</td>
        <td class="infield">{% if row.first_b %}{{row.first_b}}{% endif %}</td>
        <td class="infield">{% if row.second_b %}{{row.second_b}}{% endif %}</td>
        <td class="infield">{% if row.third_b %}{{row.third_b}}{% endif %}</td>
        <td class="infield">{% if row.ss %}{{row.ss}}{% endif %}</td>
        <td class="outfield">{% if row.lf %}{{row.lf}}{% endif %}</td>
        <td class="outfield">{% if row.cf %}{{row.cf}}{% endif %}</td>
        <td class="outfield">{% if row.rf %}{{row.rf}}{% endif %}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>