<input type="hidden" name="total" value="{{total}}">
<input type="hidden" name="start" value="{{start}}">
<input type="hidden" name="end" value="{{end}}">
<input type="hidden" name="min" value="{{min}}">
<table class="table ratings-table table-condensed">
  <thead>
    <tr class="subheader search-subheader">
      <th>Rank</th>
      {% for col in cols %}
        <th class="{{col_classes[col]}} {% if col == sortcol %}sorted {% if sortdir == 'asc' %}reverse{% endif %}{% endif %}">
          {% if col == 'double' %}
            2B
          {% elif col == 'triple' %}
            3B
          {% elif col == 'krate' %}
            K%
          {% elif col == 'bbrate' %}
            BB%
          {% else %}
            {% filter upper %}
              {{col}}
            {% endfilter %}
          {% endif %}
        </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% set rank = start %}
    {% for row in rows %}
      <tr>
        <th>{{rank}}{% set rank = rank + 1 %}</th>
        {% for col in cols %}
          {% if col == 'name' %}
            <td class="player-name">
              <a href="http://worldbaseballhierarchy.com/lgreports/news/html/players/player_{{row.player_id}}.html"
                 class="{% if row.is_hof %}hall-of-fame{% elif row.is_eligible %}eligible{% elif row.is_active %}active{% endif %}">
                {{row.position}} {{row.name}}
              </a>
            </td>
          {% else %}
            <td class="{{col_classes[col]}}">
              {% if col.endswith('rate') %}
                {{(row[col] * 100)|int}}
              {% elif col in decimal3 %}
                {{'{0:.3f}'.format(row[col])}}</td>
              {% elif col in decimal2 %}
                {{'{0:.2f}'.format(row[col])}}</td>
              {% else %}
                {{row[col]}}
              {% endif %}
            </td>
          {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
