{% extends "base.html" %}
{% set title = 'Global Improvers' %}
{% set active = 'improvers' %}
{% set has_filter = True %}
{% block content %}
  <div class="filter-form" style="display: none;">
    <form id="max-age-form" role="form">
      <input type="number" class="form-control" id="max-age" placeholder="Max age">
    </form>
  </div>
  <div id="improved-batting-ratings"></div>
  <div id="improved-pitching-ratings"></div>

  <script>
  $(function() {
    var battingUrl = '/improvers/{{date_id}}/batting';
    var pitchingUrl = '/improvers/{{date_id}}/pitching'
    $('#max-age-form').submit(function() {
      var maxAge = $(this).find('input').val();
      if (!maxAge) maxAge = 99;
      $.ajax({
        type: 'GET',
        url: battingUrl,
        data: {maxage: maxAge},
        success: function(html) {
          $('#improved-batting-ratings').html(html);
        }
      });
      $.ajax({
        type: 'GET',
        url: pitchingUrl,
        data: {maxage: maxAge},
        success: function(html) {
          $('#improved-pitching-ratings').html(html);
        }
      });
      return false;
    }).submit();

    $('.filter').click(function() {
      if ($(this).hasClass('active')) {
        $(this).removeClass('active');
        $('.filter-form').fadeOut();
      } else {
        $(this).addClass('active');
        $('.filter-form').fadeIn();
      }
    });
  });
  </script>
{% endblock %}