{% extends "base.html" %}
{% set title = 'Global Improvers' %}
{% set active = 'improvers' %}
{% block content %}
  <div id="improved-batting-ratings"></div>
  <div id="improved-pitching-ratings"></div>

  <script>
  $(function() {
    $.get('/improvers/{{date_id}}/batting', function(html) {
        $('#improved-batting-ratings').html(html);
      });
    $.get('/improvers/{{date_id}}/pitching', function(html) {
        $('#improved-pitching-ratings').html(html);
      });
  });
  </script>
{% endblock %}