{% extends "base.html" %}
{% set title = player.position + ' ' + player.name %}
{% block content %}
  <h5>Age: {{age}}</h5>
  <h5>Throws: {{player.throws}}, Bats: {{player.bats}}</h5>
  <h5>Intelligence: {{intelligence}}</h5>
  <h5>Work ethic: {{work_ethic}}</h5>
  <h5><span class="glyphicon glyphicon-star star {{starred}}"></span></h5>
  <div id="pitching-ratings"></div>
  <div id="pitch-ratings"></div>
  <div id="batting-ratings"></div>
  <div id="run-ratings"></div>
  <div id="fielding-ratings"></div>
  <div id="position-ratings"></div>
  <script>
  $(function() {
    {% if player.position == 'SP' or player.position == 'MR' or player.position == 'P' %}
      $.get('pitching', function(html) {
        $('#pitching-ratings').html(html);
      });
      $.get('pitch', function(html) {
        $('#pitch-ratings').html(html);
      });
    {% else %}
      $.get('batting', function(html) {
        $('#batting-ratings').html(html);
      });
      $.get('fielding', function(html) {
        $('#fielding-ratings').html(html);
      });
    $.get('position', function(html) {
        $('#position-ratings').html(html);
      });
    {% endif %}
    $.get('run', function(html) {
        $('#run-ratings').html(html);
      });

    $('.star').click(function() {
      var $self = $(this),
          starred = $self.hasClass('starred');

      if (starred) {
        $self.removeClass('starred');
      } else {
        $self.addClass('starred');
      }

      $.post('star', {starred: !starred});
    });
  });
  </script>
{% endblock %}