{% extends "base.html" %}
{% set title = player.position + ' ' + player.name %}
{% block content %}
  <h3>Age: {{age}}</h3>
  <div id="pitching-ratings"></div>
  <div id="batting-ratings"></div>
  <script>
  $(function() {
    {% if player.position == 'SP' or player.position == 'MR' %}
      $.get('pitching', function(html) {
        $('#pitching-ratings').html(html);
      });
    {% else %}
      $.get('batting', function(html) {
        $('#batting-ratings').html(html);
      });
    {% endif %}
  });
  </script>
{% endblock %}