{% extends "base.html" %}
{% block title %}{{player.position}} {{player.name}}{% endblock %}
{% block content %}
  <h1><a href="{{href}}">{{player.position}} {{player.name}}</a></h1>
  <h3>Age: {{age}}</h3>
  <div id="pitching-ratings"></div>
  <div id="batting-ratings"></div>
  <script>
  $(function() {
    {% if player.position == 'SP' or player.position == 'MR' %}
      $.get('pitching', function(html) {
        $('#pitching-ratings').html(html);
      });
    {% else %}
      $.get('batting', function(html) {
        $('#batting-ratings').html(html);
      });
    {% endif %}
  });
  </script>
{% endblock %}