{% extends "base.html" %}
{% set title = 'Search' %}
{% set active = 'search' %}
{% block content %}
  <div class="search-container">
    <div class="table-controls">
      <strong>Columns:</strong>
      <select class="multiselect" multiple="multiple">
        {% for col in cols %}
          <option class="{{col[2]}}" value="{{','.join(col[1])}}">{{col[0]}}</option>
        {% endfor %}
      </select>
      <button class="btn submit-btn">Submit</button>
    </div>

    <div id="search-table"></div>
  </div>

  <script>
  $(function() {
    $('.multiselect').multiselect({
      maxHeight: 400
    });
    $('.submit-btn').click(function() {
      var cols = [];
      var pitching = true;
      var batting = true;
      $('option').each(function() {
        if ($(this).prop('selected')) {
          cols = cols.concat($(this).val().split(','));
          if ($(this).hasClass('pitching')) {
            batting = false;
          } else if ($(this).hasClass('batting')) {
            pitching = false
          }
        }
      });
      $('#search-table').text('Loading...');
      $.ajax({
        type: 'GET',
        url: 'table',
        data: {cols: cols, batting: batting, pitching: pitching},
        success: function(html) {
          $('#search-table').html(html);
        }
      });
    }).click();
  });
  </script>
{% endblock %}