{% extends "base.html" %}
{% set title = 'Search' %}
{% set active = 'search' %}
{% block content %}
  <div class="search-container">
    <div class="table-controls">
      <div class="pull-left">
        <strong>Columns:</strong>
        <select class="multiselect" multiple="multiple">
          {% for col in cols %}
            <option class="column {{col[2]}}" value="{{','.join(col[1])}}">{{col[0]}}</option>
          {% endfor %}
        </select>
        <button class="btn submit-btn">Submit</button>
      </div>
      <div class="pull-right">
        <span class="limit-container">
          <strong>Show</strong>
          <select class="multiselect limit">
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="9999">All</option>
          </select>
          <strong>rows</strong>
        </span>
        <strong class="start">1</strong>
        <span>-</span>
        <strong class="end"></strong>
        <span>of</span>
        <strong class="total"></strong>
        <button class="btn prev-btn"><span class="glyphicon glyphicon-chevron-left"></span></button>
        <button class="btn next-btn"><span class="glyphicon glyphicon-chevron-right"></span></button>
      </div>
      <div class="clearfix"></div>
    </div>

    <div id="search-table"></div>
  </div>

  <script>
  $(function() {
    $('.multiselect').multiselect({
      maxHeight: 400
    });

    $('.limit').change(function() {
      $('.submit-btn').click();
    });

    $('.next-btn').click(function() {
      $('.start').text(Number($('.start').text()) + Number($('.limit').val()));
      $('.submit-btn').click();
    });

    $('.prev-btn').click(function() {
      var newStart = Number($('.start').text()) - Number($('.limit').val());
      if (newStart < 1) {
        newStart = 1;
      }
      $('.start').text(newStart);
      $('.submit-btn').click();
    });

    $('#search-table').on('click', '.subheader th', function() {
      if ($(this).hasClass('sorted')) {
        if ($(this).hasClass('reverse')) {
          $(this).removeClass('reverse');
        } else {
          $(this).addClass('reverse');
        }
      } else {
        $('.sorted').removeClass('sorted');
        $(this).addClass('sorted');
      }
      $('.submit-btn').click();
    });

    $('.submit-btn').click(function() {
      var cols = [];
      var pitching = true;
      var batting = true;
      $('option.column').each(function() {
        if ($(this).prop('selected')) {
          cols = cols.concat($(this).val().split(','));
          if ($(this).hasClass('pitching')) {
            batting = false;
          } else if ($(this).hasClass('batting')) {
            pitching = false
          }
        }
      });
      var start = Number($('.start').text()) - 1;
      var limit = $('.limit').val();
      var sortcol = $('th.sorted').text();
      var sortdir = $('th.sorted').hasClass('reverse') ? 'desc' : 'asc';
      $.ajax({
        type: 'GET',
        url: 'table',
        data: {
          cols: cols,
          batting: batting,
          pitching: pitching,
          start: start,
          limit: limit,
          sortcol: sortcol,
          sortdir: sortdir
        },
        success: function(html) {
          $('#search-table').html(html);
          var total = Number($('input[name=total]').val());
          var start = Number($('input[name=start]').val());
          var end = Number($('input[name=end]').val());
          $('.total').text(total);
          $('.start').text(start);
          $('.end').text(end);
          if (start == 1) {
            $('.prev-btn').attr('disabled', true);  
          } else {
            $('.prev-btn').removeAttr('disabled');
          }
          if (end >= total) {
            $('.next-btn').attr('disabled', true);  
          } else {
            $('.next-btn').removeAttr('disabled');
          }
        }
      });
    }).click();
  });
  </script>
{% endblock %}