{% extends "base.html" %}
{% block title %}{{team.name}}{% endblock %}
{% block content %}
  <h1>{{team.name}} ({{team.level}})</h1>
  <div>{{date}}</div>

  <h4>Improved Batters</h4>
  <div id="team-batting-ratings"></div>

  <h4>Improved Pitchers</h4>
  <div id="team-pitching-ratings"></div>

  <script>
  $(function() {
    $.get('/team/{{team.id}}/{{date_id}}/batting', function(html) {
        $('#team-batting-ratings').html(html);
      });
    $.get('/team/{{team.id}}/{{date_id}}/pitching', function(html) {
        $('#team-pitching-ratings').html(html);
      });
  });
  </script>
{% endblock %}