{% extends "base.html" %}
{% set title = 'Top Improvers' %}
{% set has_filter = True %}
{% block content %}
  <div class="filter-form" style="display: none;">
    <h3>Filters</h3>
    <form id="max-age-form" class="form-horizontal" role="form">
      <div class="form-group">
        <label for="max-age" class="col-sm-6 control-label">Max age:</label>
        <div class="col-sm-6">
          <input type="number" id="max-age" name="maxage" class="form-control" value="25">
        </div>
      </div>
      <div class="form-group">
        <label for="min-imp" class="col-sm-6 control-label">Min improvement:</label>
        <div class="col-sm-6">
          <input type="number" id="min-imp" name="minimp" class="form-control" value="{{min_imp}}">
        </div>
      </div>
      <div class="form-group">
        <label for="team" class="col-sm-6 control-label">Team ID:</label>
        <div class="col-sm-6">
          <input type="number" id="team" name="team" class="form-control" value="{{team_id}}">
        </div>
      </div>
      <div class="form-group">
        <label for="starred" class="col-sm-6 control-label">Starred:</label>
        <div class="col-sm-6">
          <input type="checkbox" id="starred" name="starred" value="True" class="form-control">
        </div>
      </div>
      <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
    </form>
  </div>
  <div id="improved-batting-ratings"></div>
  <div id="improved-pitching-ratings"></div>

  <script>
  $(function() {
    var battingUrl = '/improvers/top/batting';
    var pitchingUrl = '/improvers/top/pitching'
    $('#max-age-form').submit(function() {
      var maxAge = $(this).find('input[name=maxage]').val();
      var minImp = $(this).find('input[name=minimp]').val();
      var team = $(this).find('input[name=team]').val();
      var starred = $(this).find('input[name=starred]').prop('checked') ? true : null;
      if (!maxAge) maxAge = 99;
      if (!minImp) minImp = 1;
      if (!team) team = 0;
      $.ajax({
        type: 'GET',
        url: battingUrl,
        data: {maxage: maxAge, minimp: minImp, team: team, starred: starred},
        success: function(html) {
          $('#improved-batting-ratings').html(html);
        }
      });
      $.ajax({
        type: 'GET',
        url: pitchingUrl,
        data: {maxage: maxAge, minimp: minImp, team: team, starred: starred},
        success: function(html) {
          $('#improved-pitching-ratings').html(html);
        }
      });
      return false;
    }).submit();

    $('.filter').click(function() {
      if ($(this).hasClass('active')) {
        $(this).removeClass('active');
        $('.filter-form').fadeOut();
      } else {
        $(this).addClass('active');
        $('.filter-form').fadeIn();
      }
      return false;
    });

    $(document).on('click', '.star', function() {
      var $self = $(this),
          starred = $self.hasClass('starred'),
          playerId = $self.closest('tr').data('id');

      if (starred) {
        $self.removeClass('starred');
      } else {
        $self.addClass('starred');
      }

      $.post('/player/' + playerId + '/star', {starred: !starred});
    });
  });
  </script>
{% endblock %}