{% extends "base.html" %}
{% set title = 'Top Improvers' %}
{% set has_filter = True %}
{% block content %}
  <div class="filter-form" style="display: none;">
    <h3>Filters</h3>
    <form id="max-age-form" class="form-horizontal" role="form">
      <div class="form-group">
        <label for="max-age" class="col-sm-6 control-label">Max age:</label>
        <div class="col-sm-6">
          <input type="number" id="max-age" name="maxage" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="min-imp" class="col-sm-6 control-label">Min improvement:</label>
        <div class="col-sm-6">
          <input type="number" id="min-imp" name="minimp" class="form-control">
        </div>
      </div>
      <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
    </form>
  </div>
  <div id="improved-batting-ratings"></div>
  <div id="improved-pitching-ratings"></div>

  <script>
  $(function() {
    var battingUrl = '/improvers/top/batting';
    var pitchingUrl = '/improvers/top/pitching'
    $('#max-age-form').submit(function() {
      var maxAge = $(this).find('input[name=maxage]').val();
      var minImp = $(this).find('input[name=minimp]').val();
      if (!maxAge) maxAge = 99;
      if (!minImp) minImp = 1;
      $.ajax({
        type: 'GET',
        url: battingUrl,
        data: {maxage: maxAge, minimp: minImp},
        success: function(html) {
          $('#improved-batting-ratings').html(html);
        }
      });
      $.ajax({
        type: 'GET',
        url: pitchingUrl,
        data: {maxage: maxAge, minimp: minImp},
        success: function(html) {
          $('#improved-pitching-ratings').html(html);
        }
      });
      return false;
    }).submit();

    $('.filter').click(function() {
      if ($(this).hasClass('active')) {
        $(this).removeClass('active');
        $('.filter-form').fadeOut();
      } else {
        $(this).addClass('active');
        $('.filter-form').fadeIn();
      }
      return false;
    });
  });
  </script>
{% endblock %}